<div class="og-send-shipment-now-button pe-2">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#og-{{ order.publicId }}"
  >
    {{ SHIPMENT_SEND_NOW_BUTTON }}
  </button>

  <div
    class="modal fade"
    id="og-{{ order.publicId }}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ MODAL_SEND_NOW_HEADER }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="{{ MODAL_CLOSE }}"
          ></button>
        </div>
        <div class="modal-body">
          {{ MODAL_SEND_NOW_BODY }}
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            {{ MODAL_CANCEL_BUTTON }}
          </button>
          <button
            @click="{{ order | action: 'SEND_NOW' }}"
            data-order="{{ order.publicId }}"
            class="btn btn-primary"
          >
            {{ MODAL_SEND_NOW_SAVE }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
